* {
    box-sizing: border-box;
}

/* color variables */
:root {
    --light: #ffffff;
    --yellow: #f0b36f;
    --pink: #e17480;
    --red: #d44b79;
    --purple: #6b335e;
    --dark: #3f1734;
}

/* Loads custom font */
/*@font-face {
    font-family: Nunito Sans;
    src: url(NunitoSans-Italic-VariableFont_YTLCopszwdthwght.ttf);
    font-style: Nunito Sans Italic;
    src: url(NunitoSans-VariableFont_YTLCopszwdthwght.ttf);
}*/

body {
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    background: linear-gradient(
        145deg,
        color-mix(in oklab, var(--yellow), var(--light)),
        color-mix(in oklab, var(--yellow), var(--yellow)),
        color-mix(in oklab, var(--yellow), var(--red))
    );
    background-attachment: fixed;
    background-size: cover;
}

/* Navigation Bar */

img.logo {
    width: 60px;
    height: 60px;
}

.brandname {
    color: color-mix(in oklab, var(--yellow), var(--red));
    font-size: 32px;
}

.nav-text {
    color: var(--purple);
    font-weight: 600;
    font-size: 12px;
}

.nav-spacer {
    color: color-mix(in oklab, var(--yellow), var(--pink));
    font-size: 16px;
}

a {
    text-decoration: none;
}

a span {
    font-weight: 900;
}

/* MONTH VIEW PAGE | MAIN CALENDAR */
#monthPage {
    display: none;
}

/* Adjust spacing so the scaled calendar doesn't overflow */
#inline-calendar-home {
    overflow: visible;
    width: fit-content;
}

/* Scaled calendar to be bigger, added in style so it only affects this calendar not the standard calendar in the form. */
.homepage-body .flatpickr-calendar {
    transform: scale(1.5);
    transform-origin: center;
}

/* Dot showing when there are appointments on that specific day in the calendar */
.dot-indicator {
    display: block;
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;
    margin: 2px auto 0;
}

/* APPOINTMENT PAGE | DAY VIEW PAGE */

#appointmentPage {
    display: none;
}

#timeTable .timeSlot {
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ccc;
    font-size: 0.8rem;
    color: #666;
}

.appointment-card {
    position: absolute;
    width: 100%;
    background-color: #cce5ff;
    border-left: 4px solid #004085;
    padding: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 2;
}

/* DAY VIEW PAGE */
#dayPage {
    display: none;
}

#test-container {
    width: 100%;
    height: 100%;
}

.time-table {
    height: 550px;
    /* height: fit-content; */
}

#timeTable {
    height: 1440px;
    /* height: fit-content; */
}

#appointmentgrid {
    height: 1440px;
    /* height: fit-content; */
}

/* Footer with Brandname & Copyright text */

footer {
    position: fixed;
    bottom: 0;
    color: color-mix(in oklab, var(--yellow), var(--purple));
    font-size: 16px;
}

.footername {
    color: color-mix(in oklab, var(--yellow), var(--purple));
}

/* Keeping if needed. !!! DELETE B4 FINISHED PRODUCT !!! */

/* .shadow {
    position: relative;
    background: linear-gradient(
        145deg,
        color-mix(in oklab, var(--dark), var(--pink)),
        color-mix(in oklab, var(--dark), var(--red)),
        color-mix(in oklab, var(--dark), var(--dark))
    );
    border-radius: 15px;
}
