* {
    box-sizing: border-box;
    /* border: 1px solid gray; */
}

/* color variables */
:root {
    --light: #ffffff;
    --yellow: #f0b36f;
    --pink: #e17480;
    --red: #d44b79;
    --purple: #6b335e;
    --dark: #3f1734;
}

/* Loads custom font */
@font-face {
    font-family: Nunito Sans;
    src: url(NunitoSans-Italic-VariableFont_YTLCopszwdthwght.ttf);
    font-style: Nunito Sans Italic;
    src: url(NunitoSans-VariableFont_YTLCopszwdthwght.ttf);
}

/* Dot showing when there are appointments on that specific day in the calendar */
.dot-indicator {
    display: block;
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;
    margin: 2px auto 0;
}

body {
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    background: linear-gradient(
        145deg,
        color-mix(in oklab, var(--yellow), var(--light)),
        color-mix(in oklab, var(--yellow), var(--yellow)),
        color-mix(in oklab, var(--yellow), var(--red))
    );
    background-attachment: fixed;
    background-size: cover;
}

/* Brand & Copyright texts */
.brandname {
    color: color-mix(in oklab, var(--yellow), var(--red));
    font-size: 32px;
}

.footername {
    color: color-mix(in oklab, var(--yellow), var(--purple));
    font-size: 16px;
}

/* !!! UGLY !!! NEEDS BETTER STYILING */
.footertext {
    color: color-mix(in oklab, var(--yellow), var(--purple));
    font-size: 12px;
}

/* Navigation Bar */
.nav-text {
    color: var(--purple);
    font-weight: 900;
    font-size: 12px;
    /* --light: rgb(255, 255, 255);
    --yellow: rgb(240, 179, 111);
    --pink: rgb(225, 116, 128);
    --red: rgb(212, 75, 121);
    --purple: rgb(107, 51, 94);
    --dark: rgb(63, 23, 52); */
}

.nav-spacer {
    color: color-mix(in oklab, var(--yellow), var(--pink));
    font-size: 16px;
}

a {
    text-decoration: none;
}

a span {
    font-weight: 900;
}

img.logo {
    flex-shrink: 1;
    width: 80px;
    height: 80px;
}

/* Display options for Calendar */

#monthDisplay {
    display: block;
    visibility: visible;
}

#fullscreenOverlay {
    display: block;
    visibility: hidden;
}

#weekDisplay {
    display: block;
    visibility: hidden;
}

#dayDisplay {
    display: block;
    visibility: hidden;
}

#appointmentDisplay {
    display: block;
    visibility: hidden;
}

/* Calendar */

/* Adjust spacing so the scaled calendar doesn't overflow */
#inline-calendar-home {
    overflow: visible;
    width: fit-content;
}

/* Scaled calendar to be bigger, added in style so it only affects this calendar not the standard calendar in the form. */
.homepage-body .flatpickr-calendar {
    transform: scale(1.8);
    transform-origin: center;
}

footer {
    position: relative;
}

/* Keeping if needed. !!! DELETE B4 FINISHED PRODUCT !!! */

/* .shadow {
    position: relative;
    background: linear-gradient(
        145deg,
        color-mix(in oklab, var(--dark), var(--pink)),
        color-mix(in oklab, var(--dark), var(--red)),
        color-mix(in oklab, var(--dark), var(--dark))
    );
    border-radius: 15px;
}

.shadow::before {
    content: "";
    position: absolute;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6), 0 2px 2px rgba(0, 0, 0, 0.6),
        0 4px 4px rgba(0, 0, 0, 0.6), 0 8px 8px rgba(0, 0, 0, 0.6),
        0 16px 16px rgba(0, 0, 0, 0.6);
    mix-blend-mode: soft-light;
}

.pop-in {
    background-color: var(--purple);
    border-radius: 25px;
    box-shadow: inset 5px 5px 10px color-mix(in oklab, white, currentColor),
        inset -5px -5px 10px color-mix(in oklab, black, currentColor);
    padding: 20px;
    margin: 20px;
} */
