* {
    box-sizing: border-box;
    /* border: 1px solid gray; */
}

:root {
    --light: #ffffff;
    --yellow: #f0b36f;
    --pink: #e17480;
    --red: #d44b79;
    --purple: #6b335e;
    --dark: #3f1734;
}

/* LOADS CUSTOM FONT */
/* @font-face {
    font-family: Nunito Sans;
    src: url(NunitoSans-Italic-VariableFont_YTLCopszwdthwght.ttf);
    font-style: Nunito Sans Italic;
    src: url(NunitoSans-VariableFont_YTLCopszwdthwght.ttf);
} */

/* Use color-mix for the color gradient styling of the container and box */

/* MAIN STYLING */
body {
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    background: linear-gradient(
        145deg,
        color-mix(in oklab, var(--dark), var(--pink)),
        color-mix(in oklab, var(--dark), var(--red)),
        color-mix(in oklab, var(--dark), var(--dark))
    );
    color: var(--dark);
    /* background-color: var(--red);
    display: flex;
    align-items: center;
    width: 100vh;
    height: 100vh;
    margin: 0;
    padding: 0;
}
